.AFB001 {
    margin-right: 0.5em;
}

.AF15X36 .card {
    width: 95%;
    border-radius: 0.8em;
}

.FRD41C {
    background-color: transparent;
    border: none;
    color: black;
}

.FRD41C:focus {
    border-color: #cccccc;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.SW4Q2D {
    background: rgb(74,174,226);
    background: linear-gradient(90deg, rgba(74,174,226,1) 0%, rgba(70,103,205,1) 100%);
    border: none;
}


.navbar {
    background-color: transparent!important;
    z-index: 100;
    box-shadow: none;
}

.navbar.solid {
    background-color: white!important;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}

button.AFB001:hover {
    background: rgb(74,174,226);
    background: linear-gradient(90deg, rgba(74,174,226,1) 0%, rgba(70,103,205,1) 100%);
    border: linear-gradient(90deg, rgba(74,174,226,1) 0%, rgba(70,103,205,1) 100%);
}

button.AFB002 {
    background-color: #7451eb
}


button.AD38XL {
    width: 30%;
    padding: 0.6rem;
    border-radius: 10em;
    color: white;
    background-color: #8BC6EC;
    background-image: linear-gradient(to right, #4373e2 0%, #8e56e7  51%, #4473e0  100%);
    border: none;
    outline: none;
    font-size: 1.1em;
    font-weight: 600;
}

button.AD38XL:focus {
    outline: none;
}

button.AD38XL:hover {
    background-image: linear-gradient(to right, #3961c0 0%, #7847c7  51%, #375fbd  100%)

}

@media (max-width: 770px) {
    button.AD38XL {
        width: 100%;
    }


}

@media screen and (max-width: 800px) {
    button .navbar-toggler-icon {
        color: black!important;
    }
}