body{
    background-color: rgb(238, 238, 238);
    color: blue;
}

.lien{
    color: tomato;
    text-decoration: none;
}

.row-form-index{
    background-color: white;
}

.container{
    min-height: 100vh;
    max-width: 100vw;
}

.form-control{
    max-width: 50%;
}

.form-index{
    max-width: 20%;
}
